@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    background: #fff;
    font-family: 'Ubuntu', sans-serif;
}

p {
    font-size: 13px;
}

a {
    color: #A70303;
}

hr {
    margin: 6px 0px;
}

.logo {
    width: 100%;
    height: auto;
}

.card-body p {
    margin: 0px;
    font-size: 15px;
    color: #000;
}

.owl-item .card {
    background-color: transparent;
    border: none;
}

.card-img-top {
    margin-bottom: 10px;
}

.account-menu {
    margin-top: 0px;
}

.nav>li>a:hover,
.nav>li>a:focus,
.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background: #fff;
}

.main-menu .nav>li {
    font-size: 12px;
    /* border-right: 1px solid rgba(130, 6, 6, 0.37); */
    padding-top: 5px;
}

.main-menu .nav>li:last-child {
    border: none;
    float: right;
}

.account-menu .dropdown {
    border: 1px solid #A70302;
    border-radius: 0px;
}

.account-menu .dropdown-menu>li>a {
    color: #a70303;
    font-size: 16px;

}

.account-menu .dropdown ul.dropdown-menu {
    border-radius: 0px;
    box-shadow: none;
    margin-top: 0px;
    width: 370px;
    left: -20em;
}

.account-menu .dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 20px;
    z-index: 10;
}

.account-menu .dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 18px;
    z-index: 9;
}

/* CSS Document */
.no-mar {
    margin: 0px !important;
}

.no-pad {
    padding: 0px !important;
}

a.user-name {}

a.user-name img {
    width: 44px;
    height: 44px;
    margin-top: 6px;
}

a.user-name i {
    color: #fff;
    margin-top: 20px;
}

/*Main Menu CSS is Here */
.main-menu {
    height: 60px;
    /* background-color: #A70303 !important; */
    color: #62727d !important;
}

.dropdown-toggle {
    font-size: 15px;
    color: #fff !important;
}

.dropdown-menu>li.kopie>a {
    padding-left: 5px;
}

.user-name {
    color: #222 !important;
}

.main li a {
    /* border-bottom: 1px solid rgba(202, 195, 195, 0.37); */
    margin: 0px;
    /* color: #a70303; */
    color: #62727d !important;
    width: 228px;
    padding: 10px;
    font-size: 15px;
}

.navbar-nav>li>.dropdown-menu {
    border-radius: 0px;
    padding: 0px;
}

.main li {
    padding: 0px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu>a:after {
    border-color: transparent transparent transparent #333;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: " ";
    display: block;
    float: right;
    height: 0;
    margin-right: -10px;
    margin-top: 5px;
    width: 0;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>.active>a:hover {
    text-decoration: none;
    background-color: #fff !important;
    color: #ef4425 !important;
}

@media (max-width: 767px) {

    .navbar-nav {
        display: inline;
    }

    .navbar-default .navbar-brand {
        display: inline;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-default .navbar-nav .dropdown-menu>li>a {
        color: red;
        background-color: #ccc;
        border-radius: 4px;
        margin-top: 2px;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #333;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        background-color: #ccc;
    }

    .navbar-nav .open .dropdown-menu {
        border-bottom: 1px solid white;
        border-radius: 0;
    }

    .dropdown-menu {
        padding-left: 10px;
    }

    .dropdown-menu .dropdown-menu {
        padding-left: 20px;
    }

    .dropdown-menu .dropdown-menu .dropdown-menu {
        padding-left: 30px;
    }

    li.dropdown.open {
        border: 0px solid red;
    }

}

@media (min-width: 768px) {
    ul.nav li:hover>ul.dropdown-menu {
        display: block;
    }

    #navbar {
        text-align: center;
        position: absolute;
        z-index: 3;
        width: 100%;
    }
}

.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}

.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}

.design a {
    color: #fff;
}

.footer-bottom {
    background-color: #a70303;
    min-height: 30px;
    width: 100%;
    z-index: 10;
    position: absolute;
    margin-top: 30px;
}

.main-container {
    min-height: 100%;
    margin-top: 80px;
}

.card {
    margin-bottom: 4px;
    background: #fff;
    border: 1px solid #ddd;
}

.card-header {
    border-bottom: solid 1px #ddd;
    border-radius: 0px;
    padding-left: 5px;
    background: #fff;
}

.card-header h5 {}

.card-header h5 a {
    font-size: 16px;
    color: #222;
}

.card-block {
    color: #222;
    padding: 12px;
}

.card-block p {
    font-size: 16px;
}

.card-block a.btn {
    font-size: 15px;
}

a:focus {
    outline: none;
}

.form-control {
    border-radius: 0px;
}

.btn {
    border-radius: 0px;
}

.middle-content h3 {
    margin-top: 0px;
}

.middle-content hr {
    border-top: #222 1px solid;
}

/*.owl-nav{
	display:none;
}*/
.owl-dots {
    display: none;
}

/*.btn-default{
	background-color:#666;
	color:#fff;
}*/
/*new css*/
.gap {
    height: 110px;
}

.details {}

.details-right {
    padding: 0px;
}

.details-right a.btn {
    color: #000;
    font-size: 17px;
    padding: 8px 0px;
    background: #fff;
    border: none;
    text-align: left;
}

.details-right a.btn img {
    width: 20px;
    height: 20px;
    float: left;
    padding-right: 3px;
}

/*.details-right a.btn-danger{line-height:25px;font-size:15px;background:#A70303 !important;color:#fff !important;text-align:center !important}*/
.details-right h4 {
    margin: 0px;
}

.details-right h5 {
    font-size: 14px;
    margin: 0px;
}

.details-right h5 span {
    margin: 0px;
}

.details-right ul {
    padding: 8px 0px 0px 0px;
}

.details-right ul li {
    float: left;
    padding: 3px;
    margin: 0px 15px 0px 0px;
    list-style: none;
    color: #000;
    font-size: 15px;
}

.details-right ul li img {
    width: 22px;
    height: 20px;
    float: left;
    padding-right: 3px;
}

.details-right1 {
    padding: 0px;
}

.details-right1 h4 {
    margin: 0px;
    font-size: 13px;
}

.details-right1 h5 {
    font-size: 14px;
    margin: 0px;
}

.details-right1 h5 span {
    margin: 0px;
}

.details-footer {
    padding: 8px;
}

.details-footer span {
    font-size: 12px;
    text-transform: uppercase;
}

.details-footer a.btn {
    background: none;
    font-size: 15px;
    padding: 0px 10px;
    margin: 0px 5px;
}

.details-footer a.btn img {
    width: 20px;
    height: 20px;
    float: left;
    padding: 3px;
}

.latest-left {
    padding: 0px;
}

.latest-left .panel-default>.panel-heading {
    background: #fff !important;
}

.latest-left .panel-default>.panel-heading h2 {
    line-height: 35px;
    text-transform: uppercase;
    margin: 0px;
    font-size: 16px;
}

.latest-left .panel-default>.panel-heading h2 img {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
}

.latest-left .panel-default>.panel-heading a.btn {
    background: none;
    border: none;
    font-size: 16px;
    color: #a70303;
    margin-top: 5px;
}

.latest-right {
    width: 98%;
    padding: 0px;
    float: right;
}

.latest-content {}

.latest-content .panel {
    margin-bottom: 0px !important;
}

.latest-content h3 {
    font-size: 18px;
}

.latest-content p {
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    margin: 0px;
}

.latest-content ul.list-inline {
    margin: 0px;
    padding: 0px;
}

.latest-content ul.list-inline li {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    line-height: 30px;
}

.no-brd {
    border-radius: 0px !important;
}

.no-brd1 {
    border: none !important;
}

.viewpro {
    border-bottom: 1px solid #f1f1f1;
    padding: 5px 0px 8px 0px;
}

.smk_accordion {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
}

/**
 * --------------------------------------------------------------
 * Section
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in {
    border: 1px solid #ccc;
    position: relative;
    z-index: 10;
    margin-top: -1px;
    overflow: hidden;
}

/**
 * --------------------------------------------------------------
 * Head
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in .acc_head {
    position: relative;
    background: #FDFDFD;
    padding: 10px;
    font-size: 14px;
    display: block;
    cursor: pointer;
}

.smk_accordion .accordion_in .acc_head .acc_icon_expand {
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -9px;
    background: url(../images/plusminus.png) center 0;
}

/**
 * --------------------------------------------------------------
 * Content
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in .acc_content {
    background: #fff;
    color: #000;
    padding: 3px 10px;
}

.smk_accordion .accordion_in .acc_content h1:first-of-type,
.smk_accordion .accordion_in .acc_content h2:first-of-type,
.smk_accordion .accordion_in .acc_content h3:first-of-type,
.smk_accordion .accordion_in .acc_content h4:first-of-type,
.smk_accordion .accordion_in .acc_content h5:first-of-type,
.smk_accordion .accordion_in .acc_content h6:first-of-type {
    margin-top: 5px;
}

/**
 * --------------------------------------------------------------
 * General
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in:first-of-type,
.smk_accordion .accordion_in:first-of-type .acc_head {
    border-radius: 3px 3px 0 0;
}

.smk_accordion .accordion_in:last-of-type,
.smk_accordion .accordion_in:last-of-type .acc_content {
    border-radius: 0 0 3px 3px;
}

.smk_accordion .accordion_in.acc_active>.acc_content {
    display: block;
}

.smk_accordion .accordion_in.acc_active>.acc_head {
    background: #F9F9F9;
}

.smk_accordion .accordion_in.acc_active>.acc_head .acc_icon_expand {
    background: url(../images/plusminus.png) center -18px;
}

.smk_accordion.acc_with_icon .accordion_in .acc_head,
.smk_accordion.acc_with_icon .accordion_in .acc_content {
    padding-left: 10px;
}

.myprofile {}

.myprofile h4 {}

.myprofile h4 a {
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

.myprofile h5 {
    color: #000;
    font-size: 14px;
    margin: 0px;
}

.myprofile-list {
    font-weight: 500;
    margin: 0px;
    padding: 3px 0px 8px 0px;
}

.myprofile-list ul.list-inline {
    margin: 0px;
    padding: 0px;
}

.myprofile-list ul.list-inline li {
    margin: 0px;
    padding: 0px;
    border-right: 1px solid #ddd;
}

.myprofile-list ul.list-inline li:last-child {
    border: none;
    padding-left: 8px;
}

.myprofile-list a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 5px;
}

.myprofile-list a i {
    color: #999;
}

.edit {
    padding: 8px 0px;
    margin-top: 5px;
    border-top: 1px dashed #ddd;
}

.edit label {
    color: #000;
    font-size: 17px;
    clear: both;
    font-weight: normal;
    margin-bottom: 0px;
}

.edit label sup {
    color: #f30;
    font-size: 25px;
    margin: 0px;
    padding: 0px;
    top: 8px;
}

.edit input[type="text"] {
    color: #000;
    font-size: 15px;
}

.edit textarea {
    resize: none;
    font-size: 15px;
    color: #000;
}

.edit button {
    margin-top: 5px;
}

.edit input[type="submit"] {
    margin-top: 30px;
}

/********************checkbox********************/
.sky-form span,
.dob span {
    color: #fff;
    float: left;
    font-size: 13px;
    padding: 5px 5px 0px 10px;
    padding-right: 5px;
}

.dob input[type="text"] {
    width: 17%;
    height: 15px;
    float: left;
    padding-left: 5px;
    margin-right: 5px;
}

.sky-form .label {
    display: block;
    margin-bottom: 6px;
    line-height: 19px;
    font-size: 12px;
    color: #fff;
}

.sky-form .label.col {
    margin: 0;
    padding-top: 10px;
}

.sky-form {
    width: 100%;
    margin: 0px auto;
}

.sky-form .radio,
.sky-form .checkbox {
    position: relative;
    display: block;
}

/**radios and checkboxes**/
.sky-form .radio,
.sky-form .checkbox {
    float: left;
    outline: none;
    border: none;
    margin-bottom: 4px;
    padding-left: 20px;
    font-size: 12px;
    line-height: 27px;
    color: #f3d555;
    cursor: pointer;
    font-weight: normal;
    margin-top: 0;
    margin-left: 30px;
}

.sky-form .radio {
    text-transform: none;
}

.sky-form .radio:last-child,
.sky-form .checkbox:last-child {
    margin-bottom: 0;
}

.sky-form .radio input,
.sky-form .checkbox input {
    position: absolute;
    left: -9999px;
}

.sky-form .radio i {
    border-radius: 50%;
}

.sky-form .radio input+i:after,
.sky-form .radio input+i:after {
    content: '';
    top: 3px;
    left: 3px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
}

.sky-form .radio input:checked+i:after,
.sky-form .checkbox input:checked+i:after {
    opacity: 1;
}

.sky-form .inline-group .radio,
.sky-form .inline-group .checkbox {
    float: left;
    margin-right: 30px;
}

.sky-form .inline-group .radio:last-child,
.sky-form .inline-group .checkbox:last-child {
    margin-bottom: 4px;
}

.sky-form .radio i,
.sky-form .checkbox i {
    border-color: #e5e5e5;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    background: #000;
}

/**hover state**/
.sky-form .radio:hover i,
.sky-form .checkbox:hover i {
    border-color: #8dc9e5;
}

/**focus state**/
.sky-form .radio input:focus+i,
.sky-form .checkbox input:focus+i {
    border-color: #2da5da;
}

/**checked state**/
.sky-form .radio input+i:after {
    background-color: #F3A024;
}

.sky-form .checkbox input+i:after {
    color: #2da5da;
}

.sky-form .radio input:checked+i,
.sky-form .checkbox input:checked+i {
    border-color: #F3A024;
}

/**error state**/
.sky-form .radio.state-error i,
.sky-form .checkbox.state-error i {
    background: #fff0f0;
}

/**success state**/
.sky-form .radio.state-success i,
.sky-form .checkbox.state-success i {
    background: #f0fff0;
}

/**disabled state**/
.sky-form .radio.state-disabled,
.sky-form .checkbox.state-disabled {
    cursor: default;
    opacity: 0.5;
}

.sky-form .radio.state-disabled:hover i,
.sky-form .checkbox.state-disabled:hover i {
    border-color: #e5e5e5;
}

/******checkbox*******/
.sky-form .label {
    display: block;
    margin-bottom: 6px;
    line-height: 19px;
}

.sky-form .label.col {
    margin: 0;
    padding-top: 10px;
}

.sky-form .input,
.sky-form .radio,
.sky-form .checkbox {
    position: relative;
    display: block;
}

/**radios and checkboxes**/
.sky-form .radio,
.sky-form .checkbox {
    margin-left: 0px;
    outline: none;
    border: none;
    margin-bottom: 4px;
    padding-left: 18px;
    font-size: 13px;
    line-height: 27px;
    color: #000;
    cursor: pointer;
    font-weight: normal;
    margin-top: 0;
    padding-right: 8px
}

.sky-form .radio {
    text-transform: none;
}

.sky-form .radio:last-child,
.sky-form .checkbox:last-child {
    margin-bottom: 0;
}

.sky-form .radio input,
.sky-form .checkbox input {
    position: absolute;
    left: -9999px;
}

.sky-form .radio i,
.sky-form .checkbox i {
    position: absolute;
    top: 6px;
    left: 0;
    display: block;
    width: 14px;
    height: 14px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    background: #fff;
    border-color: #A0BA42;
}

.sky-form .radio input+i:after,
.sky-form .checkbox input+i:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}

.sky-form .radio input+i:after {
    content: '';
    top: 3px;
    left: 3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.sky-form .checkbox input+i:after {
    content: '';
    top: 3px;
    left: 1px;
    width: 10px;
    height: 7px;
    background: url('../images/tick.png') no-repeat;
    text-align: center;
}

.sky-form .radio input:checked+i:after,
.sky-form .checkbox input:checked+i:after {
    opacity: 1;
}

.sky-form .inline-group {
    margin: 0 -30px -4px 0;
}

.sky-form .inline-group:after {
    content: '';
    display: table;
    clear: both;
}

.sky-form .inline-group .radio,
.sky-form .inline-group .checkbox {
    float: left;
    margin-right: 30px;
}

.sky-form .inline-group .radio:last-child,
.sky-form .inline-group .checkbox:last-child {
    margin-bottom: 4px;
}

.sky-form .radio i,
.sky-form .checkbox i {
    border-color: #105C9C;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
}

.sky-form .radio:hover i,
.sky-form .checkbox:hover i {
    border-color: #8dc9e5;
}

.sky-form .radio input:focus+i,
.sky-form .checkbox input:focus+i {
    border-color: #2da5da;
}

.sky-form .radio input+i:after {
    background-color: #F5565c;
}

.sky-form .checkbox input+i:after {
    color: #2da5da;
}

.sky-form .radio input:checked+i,
.sky-form .checkbox input:checked+i {
    border-color: #F5565c;
}

.sky-form .radio.state-error i,
.sky-form .checkbox.state-error i {
    background: #fff0f0;
}

.sky-form .radio.state-success i,
.sky-form .checkbox.state-success i {
    background: #f0fff0;
}

.sky-form .radio.state-disabled input,
.sky-form .checkbox.state-disabled {
    cursor: default;
    opacity: 0.5;
}

.sky-form .radio.state-disabled:hover i,
.sky-form .checkbox.state-disabled:hover i {
    border-color: #e5e5e5;
}

.midd-ribb {
    background: #fff;
    padding: 0px 0px 20px 0px;
}

#ribbon-container {
    position: absolute;
    top: 15px;
    right: -5px;
    overflow: visible;
    /* so we can see the pseudo-elements we're going to add to the anchor */
    font-size: 18px;
    /* font-size and line-height must be equal so we can account for the height of the banner */
    line-height: 22px;
    width: 100%;
}

#ribbon-container:before {
    content: "";
    height: 0;
    width: 0;
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    border-top: 29px solid rgba(0, 0, 0, .3);
    /* These 4 border properties create the first part of our drop-shadow */
    border-bottom: 29px solid rgba(0, 0, 0, .3);
    border-right: 29px solid rgba(0, 0, 0, .3);
    border-left: 29px solid transparent;
}

#ribbon-container:after {
    /* This adds the second part of our dropshadow */
    content: "";
    height: 3px;
    background: rgba(0, 0, 0, .3);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 58px;
    right: 3px;
}

#ribbon-container a {
    display: block;
    padding: 10px;
    position: relative;
    /* allows us to position our pseudo-elements properly */
    background: #513e53;
    overflow: visible;
    height: 65px;
    margin-left: 29px;
    color: #fff;
    text-decoration: none;
}

#ribbon-container a:after {
    /* this creates the "folded" part of our ribbon */
    content: "";
    height: 0;
    width: 0;
    display: block;
    position: absolute;
    bottom: -15px;
    right: 0;
    border-top: 15px solid #513e53;
    border-right: 15px solid transparent;
}

#ribbon-container a:before {
    /* this creates the "forked" part of our ribbon */
    content: "";
    height: 0;
    width: 0;
    display: block;
    position: absolute;
    top: 0;
    left: -29px;
    border-top: 30px solid #513e53;
    border-bottom: 35px solid #513e53;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
}

.no-bag {
    background: none !important;
}

.some-profiles {
    margin-top: 10px;
}

.some-profiles h5 {
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px;
    height: 12px;
}

.some-profiles h5 span {
    background: #fff;
    padding: 5px;
    font-size: 18px;
}

.card-footer {}

.card-footer a.btn {
    background: #A70303;
}

.viewall {
    margin: 30px 0px;
    border-bottom: 1px solid #ddd;
    height: 15px;
}

.viewall a.btn {
    font-size: 15px;
    padding: 5px 10px;
}

.side-right {
    border-bottom: 1px solid rgba(221, 221, 221, 0.49);
    padding: 8px 0px 8px 0px;
}

.side-right h3 {
    margin: 2px 2px 3px 5px;
    font-size: 15px;
}

.side-right h4 {
    font-size: 14px;
    margin: 2px 2px 3px 5px;
}

.side-right h5 {
    font-size: 14px;
    margin: 2px 2px 3px 5px;
}

.side-right a.btn {
    margin-left: 8px;
}

.hd {
    font-size: 16px;
    color: #222;
}

.membership {
    padding: 8px;
    background: -moz-linear-gradient(45deg, rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    /* ie10+ */
    background: linear-gradient(45deg, rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#FF0000', GradientType=1);
    /* ie6-9 */
}


ul.resp-tabs-list {
    margin: 0px !important;
    padding: 0px;
}

.resp-tabs-list li {
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    padding: 13px 15px;
    margin: 0 4px 0 0;
    list-style: none;
    cursor: pointer;
    float: left;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

.filter {
    background: #fff;
    padding: 0px 0px 10px 0px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}

.filter h4 {
    margin: 0px;
    padding: 8px 0px 0px 8px;
    color: #9ebee0;
    text-transform: uppercase;
    line-height: 30px;
    font-size: 14px;
}

.filter1 input,
.filter1 select,
.filter1 textarea,
.filter1 .radio-label::before,
.filter1 .checkbox-label::before {
    /* shared style for input elements */
    border-radius: 0;
    background-color: #ffffff;
    border: 2px solid #e6e6e6;
}

.filter1 input[type='search'],
.filter1 input[type='text'],
.filter1 textarea,
.filter1 select {
    width: 100%;
    background: #f2f2f2;
    padding: .5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    box-shadow: none;
    height: 35px;
}

.filter1 input[type='search']:focus,
.filter1 input[type='text']:focus,
.filter1 textarea:focus,
.filter1 select:focus {
    outline: none;
    background-color: #ffffff;
    border-color: #d1d1d1;
}

.filter1 input[type='search'] {
    /* custom style for the search element */
    border-color: transparent;
    background-color: #e6e6e6;
    /* prevent jump - ios devices */
    font-size: 1.6rem !important;
}

.filter1 input[type='search']::-webkit-search-cancel-button {
    display: none;
}

.filter1 .cd-select {
    /* select element wrapper */
    position: relative;
}

.filter1 .cd-select::after {
    /* switcher arrow for select element */
    content: '';
    position: absolute;
    z-index: 1;
    right: 14px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    width: 16px;
    height: 16px;
    background: url("../images/cd-icon-arrow.svg") no-repeat center center;
    pointer-events: none;
}

.filter1 select {
    cursor: pointer;
    font-size: 1.4rem;
    background: #f2f2f2;
}

.filter1 select::-ms-expand {
    display: none;
}

.filter1 label {
    font-size: 14px;
}

.filter1 label sup {
    font-size: 6px;
    color: #aa1801;
    top: -7px;
}

.filter-list {
    margin: 0px;
}

.filter-list h5 {
    color: #999;
    font-size: 14px;
    text-transform: uppercase;
}

.filter-list ul.list-group {
    margin: 0px;
    padding: 0px;
}

.filter-list ul.list-group li {
    margin: 0px;
    padding: 0px;
}

.filter-list ul.list-group li a {
    text-decoration: none;
    line-height: 45px;
    border-bottom: 1px solid rgba(209, 209, 209, 0.42);
    color: #999;
    font-size: 14px;
}

.filter-list ul.list-group li a:hover {
    background: #aa1801;
    color: #fff;
}

.filter-list ul.list-group li a.active {
    background: #aa1801;
    color: #fff;
}

.filter-list input[type='search'] {
    background: #f2f2f2;
    border-color: transparent;
    background-color: #e6e6e6;
    font-size: 1.6rem !important;
}

.filter-right {
    margin: 3px 3px 20px 3px;
    background: #fff;
    padding: 0px;
}

.filter-right h2 {
    margin: 0px;
    text-align: left;
    background: rgb(113, 95, 111);
    padding: 8px;
    color: #fff;
    text-transform: uppercase;
    line-height: 30px;
    font-size: 14px;
}

.filter-right h3 {
    color: #aa1801;
    font-size: 18px;
}

.filter-right h4 {
    margin: 0px;
    line-height: 25px;
    height: 30px;
    font-size: 14px;
}

.filter-right h4 small {
    color: #999;
    font-size: 12px;
}

.filter-right a img {
    width: 96%;
    height: 180px;
    margin: 5px;
}

.filter-right a.btn {
    border-radius: 0px;
    font-size: 13px;
    padding: 5px;
    line-height: 20px;
    color: #999;
    border: 1px solid #d1d1d1;
}

.filter-right a.btn:hover {
    background: #aa1801;
    color: #fff;
    border: 1px solid #aa1801;
}

.filter-right p {
    text-align: justify;
    line-height: 20px;
    padding: 5px;
    margin: 0px;
}

.filter-right h5 {
    color: #333;
    font-size: 18px;
    padding: 5px;
    margin: 0px;
}

.filter-right ul {
    margin: 0px;
    padding: 5px;
}

.filter-right ul li {
    list-style: none;
    font-size: 14px;
    line-height: 20px;
}

/*filter panel*/
.filter .panel-default {
    border: 0px !important;
    border-radius: 0px !important;
}

.filter .panel-body {
    border: 0px !important;
}

.filter .panel-heading {
    border-radius: 0px !important;
}

.filter .panel-heading h3.panel-title {
    margin: 0px;
    padding: 8px;
    color: #fff;
    text-transform: uppercase;
    line-height: 30px;
    font-size: 14px;
}

/*filter-bread*/
.filter-bread {
    background: #fff;
    padding: 5px 0px;
}

.filter-bread h4 {
    margin: 0px;
    padding: 0px;
    color: #aa1801;
    font-size: 17px !important;
    line-height: 30px;
}

.filter-bread p {
    line-height: 30px;
    margin: 0px;
    padding: 0px;
    font-style: italic;
    color: #999;
    font-size: 13px;
}

.filter-bread p sup {
    font-size: 8px;
    color: #aa1801;
    top: -8px;
}

.filter1 input[type="submit"] {
    background: #aa1801;
    color: #fff;
    border: 2px solid #aa1801;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}

.resp-tab-active {
    border: 1px solid #ddd !important;
    border-bottom: none;
    margin-bottom: -1px !important;
    padding: 12px 14px 14px 14px !important;
    border-top: 4px solid #a70303 !important;
    border-bottom: 0px #fff solid !important;
}

.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-content-active,
.resp-accordion-active {
    display: block;
}

.resp-tab-content {
    /*border: 1px solid #c1c1c1;*/
    border-top-color: #fcfcfc;
}

h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}

/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0 0 4px;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    float: left;
    height: auto;
    min-height: 500px;
    border-radius: 0px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
    word-wrap: break-word;
}

.resp-vtabs li.resp-tab-active {
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
    padding: 14px 15px 15px 14px !important;
    border-top: 1px solid;
    border: 1px solid #c1c1c1 !important;
    border-left: 4px solid #A70303 !important;
    margin-bottom: 4px !important;
    border-right: 1px #FFF solid !important;
    font-family: 'Lato-Bold' !important;
    color: #999;
    font-size: 14px;
    text-transform: uppercase;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #DBDBDB;
    /* !important;*/
}

.resp-easy-accordion h2.resp-accordion {
    display: block;
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1;
    /* !important;*/
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1;
    /* !important;*/
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: 100px;
        clear: none;
    }

    .resp-accordion-closed {
        display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}

.education {
    height: 200px;
    overflow-y: scroll;
    padding: 0px;
}

.education h5 {
    font-family: 'Lato-Semibold';
    font-size: 15px;
    color: #000;
}

.education input[type="text"] {
    margin-top: 5px;
}

.education ul.list-inline {}

.education ul.list-inline li {
    color: #000;
    font-size: 14px;
}

/*message*/
.mail-box {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.mail-box aside {
    display: table-cell;
    float: none;
    height: 100%;
    padding: 0;
    vertical-align: top;
}

.mail-box .sm-side {
    background: none repeat scroll 0 0 #e5e8ef;
    border-radius: 4px 0 0 4px;
    width: 25%;
}

.mail-box .lg-side {
    background: none repeat scroll 0 0 #fff;
    border-radius: 0 4px 4px 0;
    width: 75%;
}

.mail-box .sm-side .user-head {
    background: none repeat scroll 0 0 #2b5f45;
    border-radius: 4px 0 0;
    color: #fff;
    min-height: 80px;
    padding: 10px;
}

.user-head .inbox-avatar {
    float: left;
    width: 65px;
}

.user-head .inbox-avatar img {
    border-radius: 4px;
}

.user-head .user-name {
    display: inline-block;
    margin: 0 0 0 10px;
}

.user-head .user-name h5 {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 15px;
}

.user-head .user-name h5 a {
    color: #fff;
}

.user-head .user-name span a {
    color: #87e2e7;
    font-size: 12px;
}

a.mail-dropdown {
    background: none repeat scroll 0 0 #80d3d9;
    border-radius: 2px;
    color: #01a7b3;
    font-size: 10px;
    margin-top: 20px;
    padding: 3px 5px;
}

.inbox-body {
    padding: 20px;
}

.btn-compose {
    background: none repeat scroll 0 0 #ff6c60;
    color: #fff;
    padding: 12px 0;
    text-align: center;
    width: 100%;
}

.btn-compose:hover {
    background: none repeat scroll 0 0 #f5675c;
    color: #fff;
}

ul.inbox-nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}

.inbox-divider {
    border-bottom: 1px solid #d5d8df;
}

ul.inbox-nav li {
    display: inline-block;
    line-height: 45px;
    width: 100%;
}

ul.inbox-nav li a {
    color: #6a6a6a;
    display: inline-block;
    line-height: 45px;
    padding: 0 20px;
    width: 100%;
}

ul.inbox-nav li a:hover,
ul.inbox-nav li.active a,
ul.inbox-nav li a:focus {
    background: none repeat scroll 0 0 #d5d7de;
    color: #6a6a6a;
}

ul.inbox-nav li a i {
    color: #6a6a6a;
    font-size: 16px;
    padding-right: 10px;
}

ul.inbox-nav li a span.label {
    margin-top: 13px;
}

ul.labels-info li h4 {
    color: #5c5c5e;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    text-transform: uppercase;
}

ul.labels-info li {
    margin: 0;
}

ul.labels-info li a {
    border-radius: 0;
    color: #6a6a6a;
}

ul.labels-info li a:hover,
ul.labels-info li a:focus {
    background: none repeat scroll 0 0 #d5d7de;
    color: #6a6a6a;
}

ul.labels-info li a i {
    padding-right: 10px;
}

.nav.nav-pills.nav-stacked.labels-info p {
    color: #9d9f9e;
    font-size: 11px;
    margin-bottom: 0;
    padding: 0 22px;
}

.inbox-head {
    background: none repeat scroll 0 0 #f59696;
    border-radius: 0 4px 0 0;
    color: #fff;
    min-height: 80px;
    padding: 20px;
}

.inbox-head h3 {
    display: inline-block;
    font-weight: 300;
    margin: 0;
    padding-top: 6px;
}

.inbox-head .sr-input {
    border: medium none;
    border-radius: 4px 0 0 4px;
    box-shadow: none;
    color: #8a8a8a;
    float: left;
    height: 40px;
    padding: 0 10px;
}

.inbox-head .sr-btn {
    background: none repeat scroll 0 0 #00a6b2;
    border: medium none;
    border-radius: 0 4px 4px 0;
    color: #fff;
    height: 40px;
    padding: 0 20px;
}

ul.inbox-pagination {
    float: right;
}

ul.inbox-pagination li {
    float: left;
}

.mail-option {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}

.mail-option .chk-all,
.mail-option .btn-group {
    margin-right: 5px;
}

.mail-option .chk-all,
.mail-option .btn-group a.btn {
    background: none repeat scroll 0 0 #fcfcfc;
    border: 1px solid #e7e7e7;
    border-radius: 3px !important;
    color: #afafaf;
    display: inline-block;
    padding: 5px 10px;
}

.inbox-pagination a.np-btn {
    background: none repeat scroll 0 0 #fcfcfc;
    border: 1px solid #e7e7e7;
    border-radius: 3px !important;
    color: #afafaf;
    display: inline-block;
    padding: 5px 15px;
}

.mail-option .chk-all input[type="checkbox"] {
    margin-top: 0;
}

.mail-option .btn-group a.all {
    border: medium none;
    padding: 0;
}

.inbox-pagination a.np-btn {
    margin-left: 5px;
}

.inbox-pagination li span {
    display: inline-block;
    margin-right: 5px;
    margin-top: 7px;
}

.fileinput-button {
    background: none repeat scroll 0 0 #eeeeee;
    border: 1px solid #e6e6e6;
}

.inbox-body .modal .modal-body input,
.inbox-body .modal .modal-body textarea {
    border: 1px solid #e6e6e6;
    box-shadow: none;
}

.btn-send,
.btn-send:hover {
    background: none repeat scroll 0 0 #00a8b3;
    color: #fff;
}

.btn-send:hover {
    background: none repeat scroll 0 0 #009da7;
}

.modal-header h4.modal-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.modal-body label {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.heading-inbox h4 {
    border-bottom: 1px solid #ddd;
    color: #444;
    font-size: 18px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.sender-info {
    margin-bottom: 20px;
}

.sender-info img {
    height: 30px;
    width: 30px;
}

.sender-dropdown {
    background: none repeat scroll 0 0 #eaeaea;
    color: #777;
    font-size: 10px;
    padding: 0 3px;
}

.view-mail a {
    color: #ff6c60;
}

.attachment-mail {
    margin-top: 30px;
}

.attachment-mail ul {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
}

.attachment-mail ul li {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 150px;
}

.attachment-mail ul li img {
    width: 100%;
}

.attachment-mail ul li span {
    float: right;
}

.attachment-mail .file-name {
    float: left;
}

.attachment-mail .links {
    display: inline-block;
    width: 100%;
}

.fileinput-button {
    float: left;
    margin-right: 4px;
    overflow: hidden;
    position: relative;
}

.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    font-size: 23px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-300px, 0px) scale(4);
}

.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
    margin-bottom: 5px;
}

.files .progress {
    width: 200px;
}

.fileupload-processing .fileupload-loading {
    display: block;
}

* html .fileinput-button {
    line-height: 24px;
    margin: 1px -3px 0 0;
}

*+html .fileinput-button {
    margin: 1px 0 0;
    padding: 2px 15px;
}

@media (max-width: 767px) {
    .files .btn span {
        display: none;
    }

    .files .preview * {
        width: 40px;
    }

    .files .name * {
        display: inline-block;
        width: 80px;
        word-wrap: break-word;
    }

    .files .progress {
        width: 20px;
    }

    .files .delete {
        width: 60px;
    }
}

/* LIST VIEW */
#container .list {
    width: 100%;
    list-style: none;
    padding: 0px;
}

#container .list li {
    background: #fff;
    margin-bottom: 10px;
    padding: 10px 20px 10px 10px;
    height: 180px;
}

#container .list li img {
    float: left;
    height: 160px;
    width: 180px;
    margin-right: 10px;
    padding-bottom: 0;
    border-bottom: 2px solid transparent;
}

#container ul.list li.alt {
    background: gray;
}

#container .list li p {
    overflow: hidden;
    word-wrap: break-word;
}

#container .list li h5 {
    margin: 0px;
    line-height: 20px;
    color: #222;
    font-size: 13px
}

#container .list li .title {
    overflow: hidden;
    word-wrap: break-word;
    font-size: 16px;
    font-weight: bold;
    color: #5d9bdd;
}

#container .list li .list-left {
    position: absolute;
    padding-left: 190px;
    width: 580px;
}

#container .list li .list-right {
    width: 200px;
    margin-top: 0px;
    float: right;
    height: 158px;

}

#container .list li .list-right h4 {
    margin: 0px;
    width: 100%;
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 13px;
    line-height: 18px;
    color: #222;
}

#container .list li .price {
    float: right;
    font-size: 56px;
    display: block;
    margin-right: 10px;
    text-align: right;
    width: 100%;
    color: #4FAFC2;
}

#container .list li .detail {
    float: left;
    display: block;
}

/* GRID VIEW */
#container .grid li {
    list-style: none;
    float: left;
    width: 245px;
    height: 340px;
    margin: 7px;
    background: #fff;
    padding: 10px;
}

#container .grid li img {
    text-align: center;
    width: 100%;
    height: 150px;
}

#container .grid li p {
    /*display:none;*/
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    font-size: 12px;
}

#container .grid li h5 {
    margin: 3px 0px;
    font-size: 13px;
    line-height: 17px;
    color: #222;
}

#container .grid li .list-left {
    text-align: left;
    font-size: 14px;
    margin-left: 0px;
    margin-top: 2px;
    font-weight: bold;
}

#container .grid li .icon-group-btn {
    font-size: 14px;
}

#container .grid li .list-right {
    display: block;
    width: 220px;
    margin-left: 10px;
}

#container .grid li .list-right h4 {
    display: none;
    margin: 0px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 13px;
    line-height: 15px;
    color: #222;
}

#container .grid {
    width: 100%;
    padding: 0px;
}

/* SWITCH CONTROLS */
.view-controls-list {
    width: 100%;
    height: 50px;
    margin-bottom: 8px;
    background: #fff;
}

.view-controls-list h4 {
    margin: 0px;
    color: #000;
    font-size: 15px;
    font-weight: bolder;
    line-height: 50px;
}

.view-controls-grid h4 {
    margin: 0px;
    color: #000;
    font-size: 15px;
    font-weight: bolder;
    line-height: 50px;
}

.view-controls-grid {
    width: 96%;
    text-align: right;
    background: #fff;
    height: 50px;
}

#viewcontrols a {
    padding: 10px;
    font-size: 10px;
    color: black;
    color: #999;
    cursor: pointer;
    line-height: 60px;
}

#viewcontrols a:hover {
    color: palevioletred;
}

#viewcontrols .active {
    color: palevioletred;
}

/* CART WISHLIST ICON BUTTONS*/
.icon-group-btn a {
    margin: 10px 0;
    float: left;
    width: 40px;
    margin-right: 5px;
    text-decoration: none;
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
}

.icon-group-btn a.btn-compare {
    margin-right: 0;
}

.icon-group-btn a span {
    float: left;
    line-height: 32px;
    text-decoration: none;
}

.icon-group-btn .icon-cart,
.icon-group-btn .icon-wishlist,
.icon-group-btn .icon-compare {
    width: 40px;
    height: 32px;

}

.icon-group-btn .icon-cart {
    background: url('../images/icon-a-w-c.png') #ddd no-repeat 6px 6px;
}

.icon-group-btn .icon-wishlist {
    background: url('../images/icon-a-w-c.png') #ddd no-repeat 8px -33px;
}

.icon-group-btn .icon-compare {
    background: url(../images/icon-a-w-c.png) #ddd no-repeat 7px center;
}

.icon-group-btn .icon-cart-text {
    text-indent: -40px;
    width: 0;
    height: 32px;
    font-size: 100%;
    overflow: hidden;
    font-weight: normal;
    color: #000;
    background: #ddd;
    transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
}

.icon-group-btn .icon-wishlist-text {
    text-indent: -40px;
    width: 0;
    height: 32px;
    font-weight: normal;
    color: #000;
    font-size: 100%;
    overflow: hidden;
    background: #ddd;
    transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
}

.icon-group-btn .compare-text {
    text-indent: -40px;
    width: 0;
    height: 32px;
    color: #fff;
    background: #4FAFC2;
    font-size: 100%;
    overflow: hidden;
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
}

.icon-group-btn a:hover .icon-cart {
    background: url(../images/icon-a-w-c.png) #ddd no-repeat 8px 8px;
}

.icon-group-btn a:hover .icon-cart-text {
    width: 90px;
    text-indent: 0;
}

.icon-group-btn a:hover {
    width: 130px;
}

.icon-group-btn a.btn-wishlist:hover {
    width: 151px;
}

.icon-group-btn a.btn-compare:hover {
    width: 160px;
}

.icon-group-btn a:hover .icon-wishlist-text {
    width: 111px;
    text-indent: 0;
}

.icon-group-btn a:hover .compare-text {
    width: 120px;
    text-indent: 0;
}

.icon-group-btn a:hover .icon-wishlist {
    background: url(../images/icon-a-w-c.png) #ddd no-repeat 8px -33px;
}

.icon-group-btn a:hover .icon-compare {
    background: url(../images/icon-a-w-c.png) #4FAFC2 no-repeat 7px center;
}

/* MISCELLANEOUS */
.button {
    background-color: white;
    background-image: -webkit-linear-gradient(top, white, white);
    background-image: -moz-linear-gradient(top, white, white);
    border: #d9534f solid 2px;
    display: inline-block;
    font-size: 13px;
    color: #d9534f;
    text-decoration: none !important;
    padding: 5px 20px;
    line-height: inherit;
    overflow: hidden;
    position: relative;
    border-radius: 2px;
    margin-top: 13px;
    margin-bottom: 10px;
}

.button:hover {
    opacity: 0.9;
}

.button.red {
    background-color: palevioletred;
    background-image: -webkit-linear-gradient(top, palevioletred, palevioletred);
    background-image: -moz-linear-gradient(top, palevioletred, palevioletred);
    color: white;
    box-shadow: 0 0 5px palevioletred inset, 0 1px 1px palevioletred;
    border: 0px;
}

.button.red:hover {
    opacity: 0.9;
}